{% extends "travel_app/base.html" %}
{% block content %}
        <div class="about">
            <div class="about-image"></div>
            <h1>About Us</h1>
        </div>
        <div class="desc">
            <p>When planning a trip, around 84% of travelers visit 38 sites on an average to get the
                necessary idea and information about their desired location. According to Humley's survey,
                87% of travelers want to interact with a travel chatbot to find the best destination and
                accommodation while saving time for the indecisive search. Without TravelBot, people
                may have to go through multiple sites before learning about any place and it becomes very
                difficult for one to find places and hotels that matches their needs.
                Unravel can improve the overall experience of the tourists by providing them with more
                relevant information about places, foods and hotels to stay before visiting any location.
                Unravel allows you to have fun experience browsing site by allowing you to chat with our very own chatbot "TravelBot"
                “and provide one, not only with hotel recommendations and
                destination information but also information about local foods to eat.</p>
        </div>
{% endblock content %}

    