{% extends "travel_app/base.html" %}
{% block content %}
  <div class="destination">
    <h1>Destinations</h1>
    <div class="underline"></div>
  </div>
  <div class="popular-places">
    {% for place in places %}
    <div class="cards">
      <div class="image">
        <img src="{{ place.image.url }}" alt="{{ place.title }}">
      </div>
      <div class="title">
        <h1>{{ place.title }}</h1>
      </div>
      <div class="desc">
        <p>{{ place.desc|truncatewords:10 }}</p>
        <a href="{% url 'detail' place.id %}"><button class="btn btn-outline-info">Read More</button></a>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}